.container {
  padding: 0 15px 15px 15px;
}
.movieContainer {
  color: black;
}
.movieContainerUp {
  display: flex;
  gap: 20px;
}
.movieContainerUp img {
  border-radius: 5px;
  margin-bottom: 15px;
  height: 450px;
}

.movieDesc {
  text-align: left;
  max-width: 600px;
}
.movieDesc h1 {
  margin-bottom: 15px;
}
.movieDesc p {
  margin-bottom: 7px;
}
.movieDesc p span {
  font-weight: 700;
  padding-right: 10px;
}

.additionalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.additionalBtn {
  display: flex;
  width: 90px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  line-height: 1.2;
  font-size: 16px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  color: #f6f6f6;
  background-color: #7e847f;
  transition: all 0.25s ease-in-out;
  margin-bottom: 15px;
}

.active {
  color: #1b1b1b;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .movieContainerUp {
    display: block;
    margin-bottom: 20px;
  }
  .movieContainerUp img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
